PORT=8000
MONGODB_URI=mongodb://adsnh13:aaditya123@ac-pzlrjmg-shard-00-00.iy905za.mongodb.net:27017,ac-pzlrjmg-shard-00-01.iy905za.mongodb.net:27017,ac-pzlrjmg-shard-00-02.iy905za.mongodb.net:27017/?ssl=true&replicaSet=atlas-jjou0m-shard-0&authSource=admin&appName=sinha

CLIENT_URL=*

ACCESS_TOKEN_SECRET=abcd
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=efgh
REFRESH_TOKEN_EXPIRY=7d


CLOUDINARY_CLOUD_NAME=mnop
CLOUDINARY_API_KEY=1234567890
CLOUDINARY_API_SECRET=xyzq
